export(acor.exp, acor.gau, acor.sph, acor.cau, acor.hol)
export(SMWXy)
export(makeFigNetwork127)
export(m2LLrr)
export(m2LL)
export(crossVal)
export(minEigVal)
export(LOOCV)
export(CVsummStats)
export(empsvgm)
export(ExpMod)
export(SphMod)
export(GauMod)
export(CauMod)
export(HolMod)
export(vgrmFitCWLS)
export(vgrmFitWLS)
export(m2LLvcSph)
